.footercontainer{
    
   
    .about{
        margin: 2rem 0;
        //min-height: 15rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .aboutinfo{
            margin-bottom: 2rem;
            width: 30%;
            //min-width: 10rem;
            margin-right: 2rem;
            min-width: 15rem;
        }
        // .aboutbankdetails{
        //     width: 30%;
        //     min-width: 15rem;
        //     margin-right: 2rem;
        //     margin-bottom: 2rem;
        // }
        .newsletter{
            width: 100%;
            min-width: 15rem;
            max-width: 30rem;
            margin-right: 2rem;
        }
        .about-title{
            font-size: 1.2rem;
            margin-bottom: 0.5rem;

        }
    }
    .bannerfooter{
        text-align: center;
        img{
            width: 50%;
            min-width: 25rem;
        }
    }
    .othercontacts{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        // background-color: hotpink;
        img{
            height: auto;
            width: 9rem;
            margin: 2rem;
        }
    }
    .copyright{
        padding: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 1155px) {
    .footercontainer{
        .about{
            .aboutinfo{
                width: auto;
            }
            .aboutbankdetails{
                width: auto;
            }
        }
    }
  }

  @media screen and (max-width: 900px) {
    .footercontainer{
        
        .about{
           // justify-content: unset; 
            .aboutinfo{
               
            }
        }
    }
  }
  @media screen and (max-width: 380px) {
    .registerbutton{
        margin-top: 0.5rem;
    }
  }
  .registerbutton{
    border:none;
    padding:0.5rem;
    border-radius: 0.5rem;
    color:white;
    background-color: rgb(87, 87, 236);
  }
  .registeremail{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 0.5rem;
    width: 14rem;
    border-radius: 0.5rem;
    }