.footercontainer{
    
   
    .about{
        margin: 2rem 0;
        //min-height: 15rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .aboutinfo{
            margin-bottom: 2rem;
            width: 30%;
            //min-width: 10rem;
            margin-right: 2rem;
            min-width: 20rem;
        }
        .aboutbankdetails{
            width: 20%;
            min-width: 20rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        .newsletter{
            width: 30%;
            min-width: 20rem;
            
        }
        .about-title{
            font-size: 1.2rem;
            margin-bottom: 0.5rem;

        }
    }
    .bannerfooter{
        text-align: center;
        img{
            width: 50%;
            min-width: 25rem;
        }
    }
    .othercontacts{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        // background-color: hotpink;
        img{
            height: auto;
            width: 9rem;
            margin: 2rem;
        }
    }
    .copyright{
        padding: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 1155px) {
    .footercontainer{
        .about{
            .aboutinfo{
                width: auto;
            }
            .aboutbankdetails{
                width: auto;
            }
        }
    }
  }

  @media screen and (max-width: 900px) {
    .footercontainer{
        
        .about{
            justify-content: unset; 
            .aboutinfo{
               
            }
        }
    }
  }