
$item-container-height: 40vh;
$item-container-width: 80vw;
$item-width: 35vw;
$item-count: 6;
.mcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  .marquee{
    
    color: grey;
    width: $item-container-width;
    height: $item-container-height;
    overflow: hidden;
    position: relative;

    .marquee-content{
      list-style: none;
      height: 100%;
      display: flex;
      animation:scrolling 10s linear infinite;
      &:hover{
        animation-play-state: paused;
      }

      li{
        width: $item-width;
        flex-shrink: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: 5rem;
        white-space: nowrap;
        img{
          height: auto;
          width: 100%;
          padding: 0.5rem;
          
        }
        &:not(:last-child){
          
        }
      }

    }
  }
}
@keyframes scrolling {
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(-1 * $item-width * $item-count  );
  }
}
