<p>element-slider works!</p>
<h1 class="mt-12 font-semibold mb-4 text-xl"></h1>
    <div class="slider">
      <div class="slide-track">
        <div class="slide bg-red-500">1</div>
        <div class="slide bg-purple-500">2</div>
        <div class="slide bg-blue-500">3</div>
        <div class="slide bg-indigo-500">4</div>
        <div class="slide bg-pink-500">5</div>
        <div class="slide bg-green-500">6</div>
        <div class="slide bg-yellow-500">7</div>
        <div class="slide bg-red-500">8</div>
        <div class="slide bg-gray-500 text-white">9</div>
        <div class="slide bg-blue-800">0</div>
        <!-- same 9 slides doubled (duplicate) -->
        <div class="slide bg-red-500">1</div>
        <div class="slide bg-purple-500">2</div>
        <div class="slide bg-blue-500">3</div>
        <div class="slide bg-indigo-500">4</div>
        <div class="slide bg-pink-500">5</div>
        <div class="slide bg-green-500">6</div>
        <div class="slide bg-yellow-500">7</div>
        <div class="slide bg-red-500">8</div>
        <div class="slide bg-gray-500 text-white">9</div>
        <div class="slide bg-blue-800">0</div>
      </div>
    </div>