
$item-container-height: 20vh;
$item-container-width: 80vw;
$item-width: 20vw;
$item-count: 9;
.mcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  .marquee{
    background-color: #111;
    color: grey;
    width: $item-container-width;
    height: $item-container-height;
    overflow: hidden;
    position: relative;

    &::before,&::after{
      position: absolute;
      top: 0;
      width: 10rem;
      height: 100%;
      content:"";
      z-index: 1;
    }
    &::before{
      left:0;
      background: linear-gradient(to right,rgb(61, 60, 60) 0%,transparent 100%);
    }
    &::after{
      right:0;
      background: linear-gradient(to left,rgb(61, 60, 60) 0%,transparent 100%);
    }
    .marquee-content{
      list-style: none;
      height: 100%;
      display: flex;
      animation:scrolling 10s linear infinite;
      &:hover{
        animation-play-state: paused;
      }

      li{
        //border: 3px solid teal;
        width: $item-width;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        white-space: nowrap;
      }

    }
  }
}
@keyframes scrolling {
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(calc(-1 * $item-width * $item-count));
  }
}

.highlight{
  //background-color: orange;
}