:host{
    display: block;
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
    .headercomponent{
        width: auto;
        .logo{
            margin: 0 auto;
            width: 20rem;
            
            img{
                width: inherit;
            }
        }
        
        .locales{
            display: flex;
            justify-content: center;
            .pmenu{
                display: flex;
                align-items: center;
                div{
                    margin: 0 0.5rem;
                    cursor: pointer;
                }
            }
            button{
                margin-right: 0.5rem;
                margin-top: 0.3rem;
            }
        }
    }
    .menuactive{
        color: lightseagreen;


    }    
}
