:host{

    position: relative;
    width: 100%;
    .headercomponent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo{
            display: flex;
            justify-content: center;
            width: 18rem;
            img{
                width: inherit;
            }
        }
        .pmenu{
            display: flex;
            
            align-items: center;
            div{
                margin: 0 0.5rem;
                cursor: pointer;
                
            }
        }
        .locales{
            justify-content: center;
            display: flex;
            
            button{
                margin-right: 0.5rem;
                margin-top: 0.3rem;
            }
        }
    }
    .menuactive{
        color: lightseagreen;


    }    
}
