<div class="headercomponent"> 
    <div class="logo">
        <img src="assets/images/banner.png" alt=""  />
    </div>
    
    <div class="locales">
      <div class="pmenu">
        <div routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="menuactive" translate>home.title</div>
        <div routerLink="donate" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="menuactive" translate>donate.title</div>
      </div>
      <div style="position: relative;">
          <select [ngModel]="selectedLanguage" (change)= "changeLanguage($event)">
            <option [value]="item.code" *ngFor="let item of languages">
              {{item.title}}
            </option>
          </select>
        </div>
    </div>
</div>
