.paracarousal{
  //height: 45rem;
  //min-height: 30rem;
  height: 70vh;
   width: auto;
  [nz-carousel-content] {
    
    // background: #364d79;
    color: #fff;

   height: auto;
    width: 100%;
   img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
   
  }
  
}