.paracarousal{
  height: 70vh;
   width: auto;
  [nz-carousel-content] {
    color: #fff;
    height: auto;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  } 
}