<div style="font-size: 1.7rem;text-align: center;line-height: 1;margin-bottom: 1rem;" translate>
    donate.heading1
</div>

<div style="margin: 0 auto;width: 50%;min-width: 15rem;text-align: center;" translate>
    donate.description1
</div>

<div style="display: flex; justify-content: center;margin-top: 1rem;">
    <app-donationmetrics
    style="margin-right: 2rem;"
    [metricslabel]="'4/3'"
    [metricsdescription]="'Operativ base'"
    ></app-donationmetrics>

    <app-donationmetrics
    [metricslabel]="'10'"
    [metricsdescription]="'Crew members'"
    ></app-donationmetrics>
</div>

<div style="font-size: 2rem;text-align: center;margin-top: 4rem;" translate>
    donate.paymentserviceTitle
</div>
<div class="donationcompanies">
    
    <div *ngFor="let item of donatationCompanies">
        <a [href]="item.url" target="_blank" *ngIf="item.type == 'link'">
            <img [src]="item.image" alt="" [class]="item.classname" />
        </a>

        <div *ngIf="item.type == 'popup'" (click)="openParapopup(item)">
            <img [src]="item.image" alt="" [class]="item.classname" />
        </div>
    </div>
</div>


<div class="effortsofthecrew">

    <div class="effortleft" style="margin: 0 auto;">
        <img src="assets/images/donation/rescueteam3.jpeg" alt="">
    </div>
    <div class="effortright">
        <div style="" translate>
            donate.description2.para1
            <div style="margin: 1rem 0;">
                <div style="font-size: 1.1rem;" translate>donate.description2.phase2</div>
                <div translate>donate.description2.para2</div>
            </div>
            <div style="margin: 1rem 0;">
                <div  style="font-size: 1.1rem;" translate>donate.description2.phase2_1</div>
                <div translate>donate.description2.para3</div>
            </div>   
        </div>
    </div>
</div>

<div style="margin: 0 2rem" >
    <div style="width: 100%;text-align: center;">
        <img style="width: inherit;object-fit: contain;" src="assets/images/donation/rescueteam1.jpeg" alt="">
    </div>
    <div style="width:100%;text-align: center;">
        <img style="width: inherit;object-fit: contain;" src="assets/images/donation/rescueteam2.jpeg" alt="">
    </div>
</div>

<app-parapopup *ngIf="togglePopup">
    <div class="dialogclass" >
        <div>
            <div class="dialogheader">
                <img [src]="chosenItemForpopup.image" alt="" class="" />
            </div>
        </div>
        <div style="margin-top: 1rem;">
            <div *ngIf="chosenItemForpopup.classname == 'VIPPS'">
                <div style="text-align: center;color: #f15d2b;font-size: 1.3rem;">
                    {{chosenItemForpopup.paymentcode}}
                </div>
                <div style="text-align: center;">
                    <img [src]="chosenItemForpopup.qrcode" alt="" style="height: 20rem;">
                </div>
            </div>  
            <div *ngIf="chosenItemForpopup.classname == 'paypal'">
                <div style="text-align: center;color: #f15d2b;font-size: 1rem;margin-bottom: 1rem;">
                    <a style="text-decoration: none;" [href]="chosenItemForpopup.paymentlink" target="_blank">Pay using paypal website</a>
                </div>
                <div style="text-align: center;">
                    <img [src]="chosenItemForpopup.qrcode" alt="" style="min-height:6rem; max-height: 15rem;height: 100%;width: auto;">
                </div>
            </div>  
            <div *ngIf="chosenItemForpopup.classname == 'dnb'">
                <div style="font-size: 1.2rem;margin-bottom: 0.6rem;" translate>bankingdetails.title</div>
                <div>Account owner: Paracrew</div>
                <div>Bank account: 1506.78.01455</div>
                <div>IBAN: NO2215067801455</div>
                <div>BIC: DNBANOKKXXX</div>
            </div>
        </div>
        <div>
            <div style="text-align: center;margin-top: 2rem;">
                <button  class="closepopup"
                
                (click)="closeParapopup()">Close</button>
            </div>
        </div> 
    </div>
</app-parapopup>

 