:host{
    .donationcompanies{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        >div{
            margin: 1rem;
            img{
                height: 7rem;
                width: auto;
            }
            .gofundme{
                height: 12rem;
            }
            .VIPPS{
                height: 7rem;
            }
            .paypal{
                height: 5rem;
            }
        }
    }
}
.dialogclass{
    .dialogheader{
        display: flex;
        justify-content: center;
        img{
            width: auto;
            height: 3rem;
        }
    }
}
.effortsofthecrew{
    display: flex;
    // width: 70vw;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    .effortleft{
        
        img{
            height: 40rem;
            width: auto;
        }
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    .effortright{

        width: 15rem;
        
    }
}